/*

NOTE:
------
WRITE YOUR OWN CUSTOM CSS STYLES HERE.
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
.content-single {

}
.content-single .single-title{
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
}
.content-single .single-content{
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
}